.reservationForm-container{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px black;
    margin: 1em;
    padding: 2em;
    height: 80vh;
    overflow-x: hidden; /* Keeps scrolling */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling */
    
}

.check-btn{
    background-color: #3ADB93 !important;
    color: white !important;
    height: 3em;

}

.availableTables{
    display: flex;
    flex-wrap: wrap;
}


.card-link{
    text-decoration: none;
    background-color: #FF6500 !important;
    border-radius: 2em;
    border: none;
    width: 80%;
    box-shadow: 0px 2px 2px black;
    color: white !important;
}
